config.stopBubbling = true
lombok.anyConstructor.addConstructorProperties=true
lombok.addLombokGeneratedAnnotation=true
lombok.anyConstructor.suppressConstructorProperties=true
lombok.getter.noIsPrefix=true
lombok.log.fieldName=log
lombok.log.fieldIsStatic=true
lombok.extern.findbugs.addSuppressFBWarnings=true
lombok.addLombokGeneratedAnnotation=true
lombok.anyConstructor.suppressConstructorProperties=true 